<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. License: CC BY-SA 2.0</span>
    <span class="footer__copyright">Uno theme by <a href="http://daleanthony.com" title="link to website for Dale-Anthony">Dale-Anthony</a></span>
    <span class="footer__copyright">Proudly published with <a href="http://hubpress.io" title="link to Hubpress website">Hubpress</a></span>
</footer>
